
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
// home------------------------------------------------
.homeMain {
    height: 100vh;
    width: 100vw;
    background-image: url("https://cdn.leonardo.ai/users/42f9429d-850a-4280-aacc-6f7d1643c99b/generations/c21b0ddb-d91e-43ee-b6b2-9e61e631e6e4/variations/Default_A_closeup_of_a_Vietnamese_old_mans_face_illuminated_by_0_c21b0ddb-d91e-43ee-b6b2-9e61e631e6e4_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo {
        width: 150px;
        border-radius: 50%;
    }
    .linkButton{
        margin: 20px;
        background-color: transparent;
        button {
            font-size: 2em;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            width: 300px;
            height: 30px;
            border-radius: 5px;
            border: none;
            margin: 5px;
            padding: 5px;
            font-size: 1.2em;
        }
    }
}
// home------------------------------------------------

//Register---------------------------------------------
.registerForm{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    input {
        background-color: aliceblue;
        width: 300px;
        height: 30px;
        border-radius: 5px;
        border: none;
        margin: 5px;
        padding: 5px;
        font-size: 1.2em;
    }
    button {
        width: 300px;
        height: 30px;
        border-radius: 5px;
        border: solid 1px white;
        margin: 5px;
        padding: 5px;
        font-size: 1.2em;
        background-color: transparent;
    }
}
//Register---------------------------------------------

@media (min-width:740px) {
    .homeMain{
        flex-direction: row;
        background-image: url(https://cdn.leonardo.ai/users/ac0a2dde-445c-4723-af7c-3d669913ecb6/generations/36a9c4d7-2ed6-4279-a85b-17edab0daad5/Default_An_ultra_realistic_astronaut_floating_on_the_moonwith_0.jpg)
    }
}

@media (min-width: 1024px) {
    .homeMain{
        background-image:url(https://cdn.leonardo.ai/users/ac0a2dde-445c-4723-af7c-3d669913ecb6/generations/53076a23-282b-4a21-b15a-373eb8275edc/Default_An_ultra_realistic_isaac_newton_watching_the_sky_full_1.jpg); ;
    }
}